name: anttec_movil
description: "Aplicaci칩n m칩vil ANTTEC"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  # Iconos y dise침o
  cupertino_icons: ^1.0.8
  material_symbols_icons: ^4.2872.1

  # Navegaci칩n moderna
  go_router: ^16.2.1

  # HTTP y APIs
  dio: ^5.9.0

  # Manejo de estado
  provider: ^6.1.5+1

  # Almacenamiento seguro (tokens, credenciales, etc.)
  flutter_secure_storage: ^10.0.0

  # Manejo de conexi칩n a internet
  connectivity_plus: ^6.0.4

  # Manejo de im치genes de red con cach칠
  cached_network_image: ^3.3.1

  # Carga animada (칰til para login, carga de productos, etc.)
  flutter_spinkit: ^5.2.1

  # Formateo y validaci칩n (para login y registro)
  form_field_validator: ^1.1.0

  # 游닞 Escaneo de c칩digos QR / barras
  mobile_scanner: ^6.0.2
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/img/
    # Aqu칤 puedes agregar m치s carpetas si tienes otras im치genes o JSON
    # - assets/icons/
    # - assets/data/

  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
